@model ProjectCRUDOperation.Models.Category

@{
    ViewData["Title"] = "Edit Category";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
    <meta http-equiv="refresh" content="2; url=@Url.Action("Index", "Category")" />
}
<h1>Edit Category</h1>

<h4>Category</h4>
<hr />
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CategoryId" />
    <div class="form-group">
        <label for="CategoryName">Category Name</label>
        <input type="text" class="form-control" id="CategoryName" name="CategoryName" value="@Model.CategoryName" required />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
</form>
